<p>
  <%- notice %>
  <form action="/submit" method="post">
    <label type="text" for="user[email]">Email</label><input type="text" name="user[email]"/><br/>
    <label type="text" for="user[repo]">Github URL to watch</label><input type="text" name="user[repo]"/><br/>
    <input type="submit" value="Submit" />
  </form>
</p>
